In [3]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [8]:
List2=[10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:",len(List2))

Number of item in the List2: 7

In [21]:
wordtoletters="ArtificialIntelligence"
print(wordtoletters)
for Alphabets in wordtoletters:
    print(Alphabets)

ArtificialIntelligence
A
r
t
i
f
i
c
i
a
l
I
n
t
e
l
l
i
g
e
n
c
e

In [2]:
Name=input("Your Name")
Age=int(input("Your Age"))
Profession=input("Your Profession")

Your Name Santhosh
Your Age 33
Your Profession Software QA Analyst

In [1]:
tuple = (1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [9]:
tup1=(0,1,2,3)
tup2=('python', 'HOPE')
mixTuple=(tup1,tup2)
print(mixTuple)

((0, 1, 2, 3), ('python', 'HOPE'))

In [12]:
numlistTup=(20,10,16,19,25,1,276,188)
for i in numlistTup:
    if((i%2)==1):
        print(i," is Odd")

19  is Odd
25  is Odd
1  is Odd

In [14]:
for i in numlistTup:
    if((i%2)==0):
        print(i," is Even")

20  is Even
10  is Even
16  is Even
276  is Even
188  is Even